/**** BASE STYLES ****/
@font-face {
  font-family: 'pixeled';
  src: url('../fonts/pixeled.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

main {
  height: auto;
}

.container {
  display: inline-block;
}

#about, #work .container {
  padding: 80px 0 25px 0;
}

#about, #work, #contact {
  height: auto;
  padding: 0 0 48px 45px;
  display: block;
  clear: both;
}

h3 {
  font-family: 'pixeled';
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 24px;
}

a {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: inherit;
}


/**** GRID STYLES ****/

.full-width {
  width: 100%;
  margin 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33%;
  float: left;
  text-align: center;
}

.third-width p {
  padding: 0 23% 0 23%;
}


/**** HEADER ****/

header {
  height: 400px;
  padding: 20px 0 0 25px;
  background: url('../img/hero-image.png') no-repeat;
  background-size: cover;
  background-position: center;
}

header h2 {
  font-size: 60px;
  color: #ffffff;
}

header h3 {
  font-size: 32px;
}


/**** ABOUT ****/

#about {
  color: #184253;
  border-top: 5px dashed #ffb400;
  border-bottom: 5px dashed #ffb400;
}

#about .full-width {
  padding-bottom: 48px;
}

#about #about-text {
  font-size: 25px;
  text-align: left;
  padding-top: 20px;
}

#logo {
  max-width: 50%;
  padding-left: 25%;
}

#skills {
  padding-top: 64px;
  clear: both;
}

#skills h3 {
  font-size: 24px;
}

#skills-with-icons {
  display: inline-block;
  padding-top: 48px;
}


/**** WORK ****/

#work {
  background: #184253;
  padding-top: 10px;
  color: white;
}

#work h3 {
  padding-bottom: 25px;
}

#portfolio {
  display: inline-block;
}

#portfolio .container {
  padding: 48px 0 48px 0;
}

.portfolio-image {
  max-width: 70%;
  height: auto;
  border: 5px solid #ffffff;
}


/**** CONTACT ****/

#contact {
padding-top: 1px;
background: #ffb400;
color: #184253;
border-top: 5px dashed #FFFFFF;
border-bottom: 5px dashed #FFFFFF;
}

#contact .container {
  width: 100%
}

#social-media {
  padding-left: 25px;
  float: left;
}

#social-media ul {
  list-style: none;
}

#social-media ul li {
  display: inline-block;
}

#social-media ul li img {
  padding-left: 25px;
}
