/**** BASE STYLES ****/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#about, #work, #contact {
  height: 600px;
  padding-top: 20px;
}

main {
  height: auto;
}

.container {
  padding-left: 25px;
  display: block;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}


/**** GRID STYLES ****/

.full-width {
  width: 100%;
  margin 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33%;
  float: left;
  text-align: center;
}


/**** HEADER ****/

header {
  height: 400px;
  background: #f41d6c;
}

header h2 {
  font-size: 60px;
}

header h3 {
  font-size: 35px;
}


/**** ABOUT ****/

#about {
  color: #184253
}

#skills {
  padding-top: 30px;
  clear: both;
}

#skills h3 {
  font-size: 25px;
}

#about-text p {
  font-size: 25px;
}


/**** WORK ****/
#work {
  background: #425773;
}

/**** CONTACT ****/

#contact {
background: #ffcf5c;
color: #184253
}
