/**** BASE STYLES ****/
@font-face {
  font-family: 'pixeled';
  src: url('../fonts/pixeled.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  height: auto;
}

.container {
  padding: 0 30px 0 30px;
  display: block;
  clear: both;
  max-width: 960px;
  margin: 0 auto;

}


h3 {
  font-family: 'pixeled';
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px;
}

a {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: inherit;
}


/**** GRID STYLES ****/

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 33%;
  float: left;
  text-align: center;
}

.third-width p {
  padding: 0 23% 0 23%;
}


/**** HEADER ****/

header {
  height: 800px;
  padding-left: 25px;
  background: url('../img/hero-image.png') no-repeat;
  background-size: 100%;
  background-position: center;
}

header h2 {
  font-size: 60px;
}

header h3 {
  font-size: 32px;
}


/**** ABOUT ****/

#about {
  height: 800px;
  color: #184253;
  border: 5px dashed #ffb400;
}

#skills {
  height: auto;
  padding-top: 20px;
  clear: both;
}

#skills h3 {
  font-size: 24px;
}

#about-text {
  font-size: 25px;
  text-align: left;
}


/**** WORK ****/
#work {
  height: 600px;
  padding: 20px;
  background: #425773;
}

#work h3 {
  padding-bottom: 20px;
}

.portfolio-image {
  max-width: 85%;
  height: auto;
  border: 3px solid #ffffff;
}


/**** CONTACT ****/

#contact {
height: 300px;
padding-top: 1px;
background: #ffb400;
color: #184253;
border: 5px dashed #FFFFFF;
}

#social-media {
  float: left;
  display: inline-block;
}
